<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Diff-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>Diff-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>Diff-tvOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>Diff-watchOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2175D3A41D17267D009C6845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2175D3AE1D17267D009C6845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2175D3C31D17268C009C6845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2175D3CC1D17268C009C6845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2175D3DF1D17269D009C6845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2175D3EC1D1726A8009C6845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2175D3F51D1726A8009C6845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
